/* Add CSS Styling */
.odd-num {
    background-color: #ffc0cb;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

#num2 {
    color: #00f;
    font-size: 36px;
}

.xtra-cool {
    font-size: 24px;
}

#num4 {
    background-color: #9e9;
    font-size: 24px;
    font-weight: 700;
}